.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--color-main-background);
}

.download-button {
  display: block;
  padding: 0.5rem 1.5rem;
  border: 2px solid #7c89e4;
  margin: 3rem auto 0 auto;
  border-radius: 30px;
  color: #050505;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
}

.error-block {
  margin-top: 3rem;
  text-align: center;
}

.full-dataset-select-wrapper {
  margin-top: 2rem;
}

/* .full-dataset-select-wrapper:last-of-type {
  margin-bottom: 0;
} */

.full-dataset-select-wrapper label {
  margin-bottom: 1rem;
  font-size: 12px !important;
  font-weight: 600;
  text-transform: uppercase;
}

.full-dataset-select {
  min-width: 135px;
  font-size: 24px;
  font-size: 16px !important;
}

.full-dataset-select-control {
  border-width: 2px !important;
  border-color: var(--color-border-dark) !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  background-color: transparent !important;
  border-radius: 0 !important;
  cursor: pointer !important;
}

.full-dataset-select-value-container {
  display: block !important;
}

.full-dataset-select-indicators-container {
  align-items: flex-start;
}

.full-dataset-select-single-value {
  position: initial !important;
  margin-top: -5px !important;
  transform: initial !important;
}

.full-dataset-select-menu {
  border: 2px solid var(--color-border-dark);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.full-dataset-select-menu-list {
  max-height: 150px !important;
  padding-top: 2px !important;
}

.full-dataset-select-option {
  display: flex !important;
  overflow: hidden;
  width: 100%;
  align-items: center;
  padding: 0 !important;
  border: none;
  background-color: transparent !important;
  color: #f5f5f5;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.full-dataset-select-option:hover {
  background-color: var(--color-primary) !important;
}

.full-dataset-select-option span {
  width: 100%;
}

.full-dataset-select-option a {
  display: inline-block;
  width: 100%;
  padding: 0 0.5rem;
}
