.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--color-main-background);
}
@media all and (max-width: 680px) {
  .container {
    padding: 3rem 1rem;
  }
}

.download-button {
  display: block;
  margin: 3rem auto 0 auto;
}

.error-block {
  margin-top: 3rem;
  text-align: center;
}

.container .full-dataset-select {
  min-width: 135px;
  font-size: 16px;
}

.container .full-dataset-select-control {
  border-width: 2px;
  border-color: var(--color-border-dark);
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: transparent;
  border-radius: 0;
  cursor: pointer;
}

.container .full-dataset-select-value-container {
  display: block;
}

.container .full-dataset-select-indicators-container {
  align-items: flex-start;
}

.container .full-dataset-select-single-value {
  position: initial;
  margin-top: -5px;
  transform: initial;
}

.container .full-dataset-select-menu {
  border: 2px solid var(--color-border-dark);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.container .full-dataset-select-menu-list {
  max-height: 335px;
  padding-top: 2px;
}

.container .full-dataset-select-option {
  display: flex;
  overflow: hidden;
  width: 100%;
  align-items: center;
  padding: 0.4rem 1rem; /* also in src/components/ClausePageHeader/ClausePageHeader.module.css */
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.container .full-dataset-select-option:hover {
  background-color: var(--color-primary);
}

.container .full-dataset-select-option span {
  width: 100%;
}

.container .full-dataset-select-option a {
  display: inline-block;
  width: 100%;
  padding: 0 0.5rem;
}
