.counters {
  display: flex;
  justify-content: center;
  background-color: var(--color-secondary-opaque);
  border-radius: var(--border-radius);
}

.counter-block {
  position: relative;
  max-width: 25%;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 3rem 1rem;
  text-align: center;
}

.counter-number {
  font-size: 70px;
}

.counter-line {
  border-color: var(--color-secondary);
}

.info {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
}

.uppercase-wrapper {
  text-transform: uppercase;
}
