.row-accordion {
  position: relative;
  cursor: pointer;
  transform: scale(1); /* https://stackoverflow.com/a/51407758 */
}

.row-accordion.is-closed + tr.is-regular,
.row-accordion.is-closed + tr.is-regular + tr.is-regular,
.row-accordion.is-closed + tr.is-regular + tr.is-regular + tr.is-regular,
.row-accordion.is-closed
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular,
.row-accordion.is-closed
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular,
.row-accordion.is-closed
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular,
.row-accordion.is-closed
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular,
.row-accordion.is-closed
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular,
.row-accordion.is-closed
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular,
.row-accordion.is-closed
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular,
.row-accordion.is-closed
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular,
.row-accordion.is-closed
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular,
.row-accordion.is-closed
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular,
.row-accordion.is-closed
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular,
.row-accordion.is-closed
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular,
.row-accordion.is-closed
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular,
.row-accordion.is-closed
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular,
.row-accordion.is-closed
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular,
.row-accordion.is-closed
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular
  + tr.is-regular {
  display: none;
}

.collapse-icon-button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
