.chart-title {
  display: flex;
  height: 100px;
  flex-direction: column-reverse;
  margin-left: 10px;
}

.are-labels-rotated {
  :global {
    .ct-label.ct-horizontal {
      width: 100% !important;
      transform: rotate(-45deg);
    }
  }
}

.bar-parts-by-punishment {
  :global {
    .ct-bar {
      stroke-width: 27px;
    }
  }
}
