.pill-button {
  display: inline-block;
  min-width: 3rem;
  padding: .35rem 1rem;
  border: 2px solid;
  border-radius: var(--border-radius);
  cursor: pointer;
  outline: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  background: transparent;
  font-family: var(--font-family-sans-serif);
  transition: 0.25s ease-in-out;
  margin: 0.2rem;
  line-height: 1.1em;
}

.pill-button-black {
  border-color: var(--color-border-dark);
  background: var(--color-border-dark);
  color: var(--color-text-inverted);
}

.pill-button-black:hover,
.pill-button-black.is-active {
  border-color: var(--color-secondary-background);
  background: var(--color-secondary-background);
}

.pill-button-secondary {
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}
.pill-button-secondary:hover,
.pill-button-secondary.is-active {
  background: var(--color-secondary);
  color: var(--color-text-inverted);
}

.pill-button-primary {
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.pill-button-primary:hover,
.pill-button-primary.is-active {
  background: var(--color-primary);
  color: var(--color-text-inverted);
}

.pill-button-transparent {
  border-color: var(--color-border-dark);
  color: var(--color-border-dark);
}

.pill-button-transparent:hover,
.pill-button-transparent.is-active {
  background: var(--color-border-dark);
  color: var(--color-text-inverted);
}
