{
  "*.(js|jsx|ts|tsx)": [
    "npm run intl:update-po",
    "npm run lint:prettier:write",
    "npm run lint:eslint:write"
  ],
  "*.json": [
    "npm run lint:prettier:write"
  ],
  "*.css": [
    "npm run lint:prettier:write",
    "npm run lint:stylelint:write"
  ],
  "*.(md|mdx)": [
    "npm run lint:prettier:write",
  ]
}