.container {
  display: flex;
  background-color: var(--color-main-background);
}

.footer {
  padding-top: 2rem;
  background-color: var(--color-secondary-lighter);
  text-align: center;
}

.footer h3 {
  position: relative;
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer h3::before,
.footer h3::after {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  width: 80px;
  height: 1px;
  margin: auto 0;
  background-color: var(--color-border-dark);
  content: "";
}

.footer h3::before {
  left: -164px;
}
.footer h3::after {
  right: -164px;
}

.footer .button {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.sidebar {
  display: flex;
  width: 188px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: var(--color-secondary-lighter);
}

.sidebar a,
.sidebar button {
  display: flex;
  height: 121px;
  align-items: center;
  padding: 1rem;
  border: none;
  cursor: pointer;
  text-align: left;
}

.sidebar button img {
  margin-left: 10px;
}

.sidebar button.active img {
  margin-left: 20px;
}

.sidebar button {
  background-color: var(--color-secondary);
}

.sidebar a span {
  vertical-align: middle;
}

.sidebar a {
  border-top: 1px solid var(--color-border-dark);
  text-decoration: none;
}

.sidebar a:first-of-type {
  border-top: none;
}

.sidebar .item-active {
  background-color: var(--color-main-background);
}

.sidebar .item-active > span {
  background-color: var(--color-primary);
}

.page-container {
  position: relative;
  flex-grow: 1;
  padding-top: 45px;
  padding-right: 110px;
  padding-bottom: 45px;
  padding-left: 30px;
}

.header-container {
  overflow: hidden;
  margin-bottom: 20px;
}

.header {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 4px solid var(--color-border-dark);
  margin-right: -20px;
  margin-left: -20px;
}

.header > * {
  padding-right: 20px;
  padding-left: 20px;
}

.header .clause-number {
  display: block;
  font-size: 160px;
}

.container .menu {
  margin-bottom: 2rem;
}

.title {
  border-right: 4px solid var(--color-primary);
}

.subtitle {
  flex-grow: 1;
}

.doc-link {
  align-self: flex-start;
}

.floating-catalogue-container {
  position: absolute;
  z-index: var(--z-index-2);
  top: 0;
  right: 0;
  left: 0;
}
