.container {
  display: flex;
}

.inner-container {
  background-color: var(--color-main-background);
  display: flex;
  width: 100%;
}

@media all and (max-width: 940px) {
  .container {
    flex-direction: column;
  }
  .inner-container {
    flex-direction: column;
  }
}

.sidebar {
  display: flex;
  width: 188px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: flex-start;
  background-color: var(--color-secondary-lighter);
}

.sidebar .sticky {
  position: sticky;
  top: 0;
}
@media all and (max-width: 920px) {
  .sidebar {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .sidebar .sticky {
    position: inherit;
    width: 100%;
  }
}

.sidebar a,
.sidebar button {
  display: flex;
  height: 121px;
  align-items: center;
  padding: 1rem;
  border: none;
  cursor: pointer;
  text-align: left;
  width: 100%;
  background-color: var(--color-secondary);
}
.sidebar button img {
  margin-left: 10px;
}

.sidebar button.active img {
  margin-left: 20px;
}

.sidebar a span {
  vertical-align: middle;
}

.sidebar a {
  border-top: 1px solid var(--color-border-dark);
  text-decoration: none;
}

.sidebar a:first-of-type {
  border-top: none;
}

.sidebar .item-active {
  background-color: var(--color-main-background);
}

.sidebar .item-active > span > small::after {
  content: " ";
}

.sidebar .item-active > span {
  position: relative;
}

.sidebar .item-active > span > small {
  background-color: var(--color-primary);
  line-height: 1;
  display: inline;
  white-space: pre-wrap;
  border: solid var(--color-primary);
  border-width: 0.25em 0;
  padding: 2px 0;
}

.page-container {
  position: relative;
  flex-grow: 1;
  padding: 45px;
}

@media all and (max-width: 920px) {
  .page-container {
    padding: 1rem;
  }
}

.header-container {
  overflow: hidden;
  margin-bottom: 20px;
}

.header {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 4px solid var(--color-border-dark);
  margin-right: -20px;
  margin-left: -20px;
}

@media all and (max-width: 680px) {
  .header {
    flex-direction: column;
    margin-bottom: 4rem;
    text-align: center;
  }
}

.header > * {
  padding-right: 20px;
  padding-left: 20px;
}
.header .number-wrapper {
  display: flex;
  flex-direction: column;
  border-right: 4px solid var(--color-palette-a);
}

.header .title {
  padding: 4px 4px 1px;
  font-size: 1rem;
  background: var(--color-palette-a);
  font-weight: 500;
}
.header .clause-number {
  display: block;
  font-size: 160px;
}

.header .subtitle {
  flex-grow: 1;
  font-size: 18px;
  line-height: 1.5;
}

.container .menu {
  margin-bottom: 2rem;
}

.doc-link {
  align-self: flex-start;
}

@media all and (max-width: 680px) {
  .doc-link {
    align-self: center;
  }
}

.floating-catalogue-container {
  position: absolute;
  z-index: var(--z-index-2);
  top: 0;
  right: 0;
  left: 0;
}
