.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--color-main-background);
}

.subTitle {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 1.875rem;
  font-weight: 600;
}

.teamContainer {
  display: flex;
  flex-wrap: wrap;
}

.teamMember {
  width: 25%;
  margin-bottom: 2rem;
}

.teamPhotoWrapper {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
  background-color: #7c89e4;
  border-radius: 50%;
}

.teamPhoto {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.teamMemberName {
  margin-top: 1rem;
  font-weight: 600;
  text-align: center;
}

.teamMemberPosition {
  margin-top: 0.5rem;
  text-align: center;
}
