.container {
  max-width: 1210px;
  margin: auto;
}

.is-thin {
  max-width: 625px;
  margin: auto;
}

/* Large devices (desktops, 992px and up) */
@media screen and (max-width: 1200px) {
  .container {
    width: 1080px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 740px;
  }
}

@media screen and (max-width: 680px) {
  .container {
    width: 100%;
  }
}
