.button {
  display: inline-block;
  min-width: 3rem;
  padding: 0.5rem 1rem;
  border: 2px solid var(--color-border-dark);
  background-color: transparent;
  border-radius: var(--border-radius);
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  span {
    overflow: hidden;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  img {
    vertical-align: bottom;
  }
}

.button:hover,
.button:active,
.button:focus {
  background-color: var(--color-border);
  img {
    filter: brightness(3);
  }
}

.button-lg {
  padding: 1.1rem 1.5rem 1rem 1.5rem;
}
.button-sm {
  padding: 0.1rem 0.5rem;
}

.button-inverted {
  border-color: var(--color-border-inverted);
  color: var(--color-text-inverted);
}

.button-secondary {
  border-color: var(--color-secondary);
}

.button-third {
  border-color: var(--color-primary);
}

.button-dark {
  border-color: var(--color-border-dark);
  background: var(--color-border-dark);
  color: var(--color-text-inverted);
}

.button-link {
  text-decoration: underline;
}

.svg-arrow {
  margin-bottom: -2px;
  margin-left: 5px;
}

.svg-arrow path {
  stroke: var(--color-border-dark);
}

.svg-inverted path {
  stroke: var(--color-border-inverted);
}

.svg-secondary path {
  stroke: var(--color-secondary);
}

.svg-third path {
  stroke: var(--color-primary);
}

.svg-vertical {
  transform: rotate(90deg);
}

.svg-vertical.svg-vertical-rotate {
  transform: rotate(-90deg);
}
