.chart-title {
  display: flex;
  height: 100px;
  flex-direction: column-reverse;
  margin-left: 10px;
}

.bar-outer-wrapper {
  display: flex;
}

.bar-wrapper {
  flex-grow: 1;
  :global {
    .ct-bar {
      stroke-width: 33px;
    }
    .ct-label.ct-vertical.ct-end {
      white-space: normal;
      width: 300px !important;
    }
    .bar-number {
      font-weight: 500;
    }
    .bar-number-inside {
      fill: var(--color-text-inverted);
    }
    .bar-number-outside {
      fill: var(--color-text);
    }
    .bar-number-background {
      stroke: #fff;
      stroke-width: 30px;
    }
  }
}

@media all and (max-width: 680px) {
  .bar-wrapper {
    :global {
      .ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-end {
        font-size: 8px;
      }
    }
  }
}
