/* This a default theme, so no extra css selectors are needed */

/* Colors: https://www.materialui.co/colors */

/* This vars will be taken by postcss-custom-properties to create fallback css properties */
:root {
  /* colors */
  --color-text: #000;
  --color-text-inverted: #fff;
  --color-outer-background: #000;
  --color-main-background: #eff5f3;
  --color-primary: #ff6700;
  --color-secondary: #7c89e4;
  --color-border: #000;
  --color-border-inverted: #fff;

  /* fonts */
  --font-family-primary: helvetica neue, helvetica, arial, sans-serif;
  --font-size-base: 16px;
  --letter-spacing-base: 0;
  --line-height-base: 1.3;

  /* sizes */
  --border-width-regular: 0.1rem;
  --border-radius: 0;

  /* z-indexes */
  --z-index-0: 0;
  --z-index-1: 1;
  --z-index-2: 10;
  --z-index-3: 100;
  --z-index-4: 1000;
  --z-index-5: 10000;
}
