/* This a default theme, so no extra css selectors are needed */

/* Colors: https://www.materialui.co/colors */

@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&family=Roboto:wght@400;500;700&display=swap");

/* These vars will be taken by postcss-custom-properties to create fallback css properties */
:root {
  /* colors */
  --color-text: #000;
  --color-text-inverted: #fff;
  --color-outer-background: #000;
  --color-main-background: #eff5f3;
  --color-primary: #ff6700;
  --color-secondary: #7c89e4;
  --color-secondary-lighter: #cdd5ee;
  --color-border: var(--color-secondary);
  --color-border-inverted: #fff;
  --color-border-dark: #000;
  --color-border-gray: #c8c8c8;

  /* color palette (for charts) */
  --color-palette-a: #ff6700;
  --color-palette-b: #7c89e4;
  --color-palette-c: #3d4686;
  --color-palette-d: #925e9e;
  --color-palette-e: #ba9baf;
  --color-palette-f: #ffa76b;
  --color-palette-g: #f3607b;
  --color-palette-h: #b04700;
  --color-palette-i: #b04700;
  --color-palette-j: #959494;
  --color-palette-k: #ffd336;
  --color-palette-l: #bec6ff;

  /* fonts */
  --font-family-sans-serif: "Roboto", system-ui, -apple-system,
    "BlinkMacSystemFont", "Segoe UI", "Ubuntu", "Helvetica Neue", sans-serif;
  --font-family-serif: "PT Serif", "Times New Roman", "Times", serif;
  --font-size-base: 16px;
  --letter-spacing-base: 0;
  --line-height-base: 1.4;

  /* sizes */
  --border-width-regular: 0.1rem;
  --border-radius: 25px;

  /* z-indexes */
  --z-index-0: 0;
  --z-index-1: 1;
  --z-index-2: 10;
  --z-index-3: 100;
  --z-index-4: 1000;
  --z-index-5: 10000;
}
