@import "./vendor.css";
@import "./themes/default.css";

html {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  letter-spacing: var(--letter-spacing-base);
  line-height: var(--line-height-base);
}

html,
body {
  min-width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

main {
  background-color: var(--color-outer-background);
}

* {
  box-sizing: border-box;
  outline-offset: 5px;
}

@media all and (max-width: 680px) {
  html {
    font-size: 0.9rem;
  }
  small {
    font-size: 0.8rem;
  }
}
