@import "./vendor.css";
@import "./themes/default.css";

html {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  letter-spacing: var(--letter-spacing-base);
  line-height: var(--line-height-base);
}

body {
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}

main {
  background-color: var(--color-outer-background);
}

* {
  box-sizing: border-box;
}

@media screen and (--viewport-sm-max) {
  html {
    font-size: 14px;
  }
}
