.checkbox {
  position: relative;
}

.checkbox input {
  width: 25px;
  height: 25px;
  opacity: 0;
  vertical-align: bottom;
  display: inline-block;
  margin-right: 1rem;
}

.checkbox label {
  cursor: pointer;
}

.checkbox .pseudo {
  position: absolute;
  z-index: var(--z-index-1);
  top: 0;
  left: 0;
  display: block;
  width: 25px;
  height: 25px;
  border: 1px solid #000;
  content: "";
  cursor: pointer;
}

.checkbox input:checked ~ .pseudo {
  background-image: url("src/components/ui-kit/Checkbox/assets/check.svg");
  background-position-y: -2px;
  background-repeat: no-repeat;
  background-size: contain;
}
