.text-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.text {
  display: inline-block;
  max-width: 620px;
}

.counter {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.charts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chart-container {
  width: 100%;
  max-width: 900px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.table-container {
  margin-bottom: 40px;
}

.focus-menu {
  padding-top: 1rem;
  border-top: 1px solid var(--color-border-dark);
  margin-top: 1rem;
}
