body {
  :global {
    .chartist-tooltip {
      border: 1px solid var(--color-border-dark);
      background-color: var(--color-main-background);
      font-family: var(--font-family-sans-serif);
      font-size: var(--font-size-base);
      font-weight: normal;
    }

    .chartist-tooltip::before {
      border-top-color: var(--color-main-background);
    }

    .chartist-tooltip::after {
      position: absolute;
      z-index: var(--z-index-minus-1);
      top: calc(100% + 1px);
      left: 50%;
      width: 0;
      height: 0;
      border: 15px solid transparent;
      border-top-color: var(--color-border-dark);
      margin-left: -15px;
      content: "";
    }
  }
}

.chart {
  overflow: hidden;
  width: 100%;
  padding: 20px 10px;

  :global {
    .ct-series-a {
      color: var(--color-palette-a);
    }
    .ct-series-b {
      color: var(--color-palette-b);
    }
    .ct-series-c {
      color: var(--color-palette-c);
    }
    .ct-series-d {
      color: var(--color-palette-d);
    }
    .ct-series-e {
      color: var(--color-palette-e);
    }
    .ct-series-f {
      color: var(--color-palette-f);
    }
    .ct-series-g {
      color: var(--color-palette-g);
    }
    .ct-series-h {
      color: var(--color-palette-h);
    }
    .ct-series-i {
      color: var(--color-palette-i);
    }
    .ct-series-j {
      color: var(--color-palette-j);
    }
    .ct-series-k {
      color: var(--color-palette-k);
    }
    .ct-series-l {
      color: var(--color-palette-l);
    }
    .ct-bar,
    .ct-line,
    .ct-point,
    .ct-slice-donut {
      stroke: currentColor !important;
    }
    .ct-label,
    .ct-inner-label {
      overflow: visible;
      font-size: 12px;
      font-weight: 500;
      text-transform: lowercase;
      white-space: nowrap;
    }

    .ct-inner-label {
      fill: var(--color-main-background);
      font-weight: bold;
    }

    .ct-inner-label-dark {
      fill: var(--color-text);
    }
    .ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-start {
      justify-content: flex-start;
    }

    .ct-label {
      color: var(--color-text);
    }
    .ct-labels {
      border-top: 1px solid black;
    }
    .ct-grid {
      stroke: var(--color-border-gray);
      stroke-dasharray: none;
    }
  }
}

.legend {
  display: flex;
}

.legend svg {
  margin-right: 5px;
}

.legend .legend-icon {
  fill: currentColor;
  stroke-width: 16px;
}

.legend-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  margin-right: 10px;
  margin-left: 10px;
}

.legend-title {
  line-height: 14px;
}

.title {
  max-width: 700px;
  margin-right: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
}

.two-columns {
  display: flex;
}

.left-column {
  flex-grow: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer {
  padding-left: 10px;
}

.border {
  height: 1px;
  border: 0;
  border-top: 1px solid var(--color-border-gray);
  margin-top: 35px;
  margin-bottom: 15px;
}

.actions {
  min-width: 100px;
  align-self: flex-end;
  margin-bottom: 30px;
}

.actions button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
