.input {
  padding-top: 4px;
  padding-bottom: 1rem;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid var(--color-border-dark);
  border-left: none;
  background-color: transparent;
  font-size: 16px;
}

.input.with-icon {
  padding-left: 35px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.input::-webkit-input-placeholder {
  font-family: "PT Serif", "Times New Roman", Times, serif;
  font-style: italic;
}
.input:-moz-placeholder {
  font-family: "PT Serif", "Times New Roman", Times, serif;
  font-style: italic;
}
.input:-ms-input-placeholder {
  font-family: "PT Serif", "Times New Roman", Times, serif;
  font-style: italic;
}
