.blog-container {
  background-color: var(--color-main-background);
  overflow: hidden;
}

.blog-article {
  padding: 0 15% 0 15%;
  margin: 1rem auto 3rem;
  word-wrap: break-word;
}

@media all and (max-width: 680px) {
  .blog-article {
    padding: 3rem 1rem;
  }
}

.blog-article img {
  width: calc(100% + 14rem);
  margin: 2rem -7rem;
}

.blog-article a {
  color: var(--color-main);
  text-decoration: underline;
}

.blog-article a:hover {
  text-decoration: none;
}

.blog-article__date {
  margin: 3rem 0 1.3rem;
}

.blog-article__date p {
  font-weight: bold;
  text-transform: uppercase;
}

.blog-article__author p {
  font-family: var(--font-family-serif);
  font-style: italic;
  font-size: 1.1rem;
}

@media all and (max-width: 680px) {
  .blog-article {
    margin: 0 1rem;
  }
  .blog-article a {
    word-wrap: break-word;
  }
  .blog-article img {
    margin: 1rem -1rem;
    width: calc(100% + 2rem);
  }
}
.article-body h1,
.article-body h2 {
  font-family: var(--font-family-serif);
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-transform: lowercase;
}

.article-body h1::first-letter,
.article-body h2::first-letter,
.article-body h3::first-letter,
.article-body h4::first-letter {
  text-transform: uppercase;
}

.article-body h1 {
  font-size: 2rem;
  line-height: 145%;
}

.article-body h2 {
  font-size: 1.875rem;
  line-height: 145%;
}

.article-body h3 {
  font-size: 1.1rem;
  line-height: 165%;
  text-transform: uppercase;
}

.article-body h4 {
  font-style: normal;
  font-weight: bold;
  text-transform: lowercase;
  line-height: 120%;
  margin-block-end: 0.2rem;
}

.article-body p {
  margin-block-start: 0;
}

.article-body ul:first-child {
  background-color: var(--color-secondary-opaque);
  border-radius: 20px;
}

ul li:last-child {
  position: relative;
  margin-left: 0%;
  float: none;
}

.article-body ul:first-child > li {
  list-style: none;
  float: left;
  height: 250px;
  padding: 30px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  max-width: 25%;
  min-width: 200px !important;
}
.article-body ul:first-child > li::first-line {
  color: var(--color-secondary);
  font-size: 2.5em;
}

ul::after {
  content: "";
  display: block;
  clear: both;
}
