.common {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-text);
  font-size: var(--font-size-base);
  font-weight: normal;
  letter-spacing: var(--letter-spacing-base);
  line-height: var(--line-height-base);
}

.sans-serif {
  font-family: var(--font-family-sans-serif);
}

.sans-serif b {
  font-weight: 500;
}

.serif {
  font-family: var(--font-family-serif);
}

.is-uppercased {
  font-variant: small-caps;
  text-transform: uppercase;
}

.common.gutter-bottom {
  margin-bottom: 0.7rem;
}

.common.color-inverted {
  color: var(--color-text-inverted);
}

.common.color-secondary {
  color: var(--color-secondary);
}

.common.color-muted {
  color: var(--color-text-muted);
}

.common a {
  color: inherit;
  text-decoration: none;
}

.common a[target="_blank"] {
  text-decoration: underline;
}

.common a:visited {
  color: inherit;
}

.common a:active {
  color: inherit;
}

.h1 {
  font-size: 1.875rem;
}

.h2 {
  font-size: 1.5rem;
}

.h3 {
  font-size: 1.3rem;
}

.is-line-height-disabled {
  line-height: 1;
}
