.container {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  background-color: var(--color-outer-background);
  color: var(--color-text-inverted);
}
.header-wrapper {
  max-width: 1280px;
  margin: auto;
}
.logo {
  display: flex;
  width: 415px;
  margin: 1.5rem auto;
}
.logo img {
  position: relative;

  /* fix inccorrect logo width */
  right: -10px;
  display: block;
  width: 415px;
  height: 81px;
}
