.container {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  background-color: var(--color-outer-background);
  color: var(--color-text-inverted);
}

.first-row {
  margin-bottom: 0.5rem;
}

.container .logo {
  font-size: 48px;
  text-transform: uppercase;
}
