.container {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  background-color: var(--color-outer-background);
  color: var(--color-text-inverted);
}

.header-wrapper {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

@media all and (max-width: 680px) {
  .header-wrapper {
    width: auto;
  }
}

.logo {
  width: 228px;
  height: 38px;
  display: flex;
  overflow: hidden;
  margin: 1.5rem 1.5rem 97px;
}
.logo img {
  width: 228px;
  height: 38px;
}

.header-large .logo {
  display: flex;
  width: 415px;
  margin: 1.5rem auto;
}

.header-large .logo img {
  position: relative;

  /* fix inccorrect logo width */
  right: -10px;
  display: block;
  width: 415px;
  height: 81px;
}

@media all and (max-width: 680px) {
  .logo {
    overflow: hidden;
    width: calc(100% - 2rem);
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-border-inverted);
    margin: 1rem;
  }
  .logo img {
    right: -4px;
    width: 100%;
    height: auto;
  }
}

.call-menu-bar {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
  padding: 0 0 10px 0;
}

.mobile-menu-holder__header {
  display: none;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 1rem;
}

.mobile-menu-holder__languages-mobile {
  display: none;
}

.mobile-menu-holder__languages-desktop {
  position: absolute;
  width: 130px;
  right: 100px;
  top: 30px;
}

@media all and (max-width: 1000px) {
  .mobile-menu-holder__languages-desktop {
    right: 50px;
  }
}

@media all and (max-width: 680px) {
  .call-menu-bar {
    display: flex;
  }

  .call-menu-bar a {
    color: var(--color-text-inverted);
  }

  .call-menu-bar a img {
    margin: -6px 10px 0 0;
    vertical-align: middle;
  }

  .mobile-menu-holder.is-active {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 100;
    background: var(--color-outer-background);
  }

  .mobile-menu-holder__languages-mobile {
    display: block;
  }

  .mobile-menu-holder.is-active .mobile-menu-holder__header {
    display: flex;
  }

  .mobile-menu-holder__languages-desktop {
    display: none;
  }

  .mobile-menu__listener {
    display: none;
  }

  .mobile-menu-holder.is-active .mobile-menu__listener {
    display: block;
  }

  .mobile-menu-holder__header a {
    text-decoration: none;
    border: none;
  }

  .mobile-menu-holder__close {
    margin: 1rem;
  }
}

.localeName {
  text-transform: uppercase;
  text-decoration: underline;
}
