/* TODO: new styles */

.more-title {
  position: relative;
  min-height: 5px;
  border-top: 5px solid var(--color-border-dark);
  margin-top: 5rem;
}

@media all and (max-width: 680px) {
  .more-title {
    margin: 2rem;
  }
}

.more-title-inner {
  position: absolute;
  top: -15px;
  left: 0;
  padding-right: 1rem;
  background-color: var(--color-text-inverted);
}

.more-wrapper {
  display: flex;
  margin: 3rem 4rem 0 4rem;
}

@media all and (max-width: 680px) {
  .more-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
}
.more-wrapper .more-item {
  position: relative;
  flex: 1;
  padding: 0 1rem;
  border: 1px solid var(--color-border-dark);
  margin: 1rem;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;
}

.more-wrapper .more-item .more-item-type {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.25rem 1rem;
}

.more-wrapper .more-item .more-item-inner {
  position: relative;
  z-index: 2;
  display: block;
  height: calc(100% - 4rem);
  padding: 0.5rem;
  padding-bottom: 4rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-decoration: none !important;
}

.more-wrapper .more-item .more-item-inner-back {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: calc(100% - 2rem);
  height: calc(100% - 4rem);
  padding: 0.5rem;
  padding-bottom: 4rem;
  margin: 0 1rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  backdrop-filter: blur(8px);
  background: rgba(239, 245, 243, 0.5);
  content: "";
}

.more-wrapper .more-item .more-item-description {
  margin-top: 1rem;
}

.more-wrapper .more-item .more-item-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: calc(100% - 1rem);
  padding-top: 1rem;
  border-top: 3px solid;
  margin: 0 0.5rem 0.5rem 0.5rem;
}

.more-wrapper .more-item .more-item-bottom .more-item-date {
  margin-left: auto;
}

.more-wrapper .more-item.more-item-blog .more-item-type {
  background-color: var(--color-secondary-background);
}

.more-wrapper .more-item.more-item-blog .more-item-bottom {
  border-color: var(--color-border);
}

.more-wrapper .more-item.more-item-analytics {
  background-position: 60%;
  background-size: cover;
}

.more-wrapper .more-item.more-item-analytics .more-item-type {
  background-color: var(--color-primary);
}

.more-wrapper .more-item.more-item-analytics .more-item-bottom {
  border-color: var(--color-primary);
}

.tags-wrapper {
  margin: 2rem 2rem 0 2rem;
}

.tags-wrapper .tags-inner {
  display: flex;
  margin-top: 1rem;
}
.tags-wrapper .tags-inner button {
  margin: 0.1rem;
  padding: 0.2rem 0.5rem;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
@media all and (max-width: 680px) {
  .tags-wrapper {
    margin: 1rem;
  }
  .tags-wrapper .tags-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.tags-wrapper .tags-inner > p {
  padding: 2px 12px 3px 12px;
  margin-right: 5px;
  background-color: var(--color-outer-background);
  border-radius: 17px;
  color: var(--color-text-inverted);
}
