.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--color-main-background);
}

.search-wrapper {
  display: flex;
}

.search-wrapper input {
  margin-left: auto;
}

@media all and (max-width: 680px) {
  .search-wrapper input {
    width: calc(100% - 2rem);
    margin: auto;
  }
}

.faq-menu {
  margin-top: 2rem;
}

.content-wrapper {
  margin-top: 3rem;
}

.content-wrapper ul {
  margin-bottom: 1rem;
}

@media all and (max-width: 680px) {
  .content-wrapper {
    margin: 3rem 1rem 1rem;
  }
}

.content-wrapper p {
  margin-bottom: 2rem;
}

.ul-with-additional-margin > li {
  margin-bottom: 2rem;
}
