.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--color-main-background);
}

.search-wrapper {
  display: flex;
}

.search-wrapper input {
  margin-left: auto;
}

.faq-menu {
  margin-top: 2rem;
}

.content-wrapper {
  margin-top: 3rem;
}

.content-wrapper p {
  margin-bottom: 2rem;
}

.content-wrapper mark {
  background-color: #bec6ff;
}

.ul-with-additional-margin > li {
  margin-bottom: 2rem;
}
