.container {
  min-height: 160px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--color-outer-background);
}

.container > div {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

@media all and (max-width: 680px) {
  .container > div {
    flex-direction: column;
    position: relative;
  }
}

.left-container {
  display: flex;
  flex-direction: column;
}

.left-container > a {
  margin-bottom: 1rem;
}

.left-container > a:last-of-type {
  margin-bottom: 0;
}

.middle-container,
.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.left-container,
.right-container {
  flex-basis: 165.5px;
}

@media all and (max-width: 680px) {
  .left-container,
  .right-container {
    margin: auto;
    flex-basis: inherit;
  }

  .left-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .left-container a {
    margin: 0 3rem;
  }
  .middle-container p{
    position: absolute;
    bottom: 0;
    left: 1rem;
    right: 1rem;
  }
  .right-container{
    padding: 3rem 0 4rem;
  }
}

.middle-container {
  text-align: center;
}

.social-media-links-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}

.email {
  text-decoration: none;
}

.email b {
  font-size: 1.125rem;
}
