.container {
  display: flex;
}

.button {
  max-height: 14px;
  border: none;
  margin-right: 10px;
  background-color: transparent;
  cursor: pointer;
}

.text {
  position: relative;
  display: block;
  overflow: hidden;
  max-width: 623px;
}

.text-closed {
  max-height: calc(3 * var(--line-height-base) * var(--font-size-base));
}

.text-closed::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: calc(var(--line-height-base) * var(--font-size-base));
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  content: "";
}
